{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 320,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.test.ts",
      "options": {
        "printWidth": 320,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 320,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.test.js",
      "options": {
        "printWidth": 320,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "trailingComma": "none"
      }
    }
  ]
}