{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 440,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.test.js",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always",
        "trailingComma": "none"
      }
    }
  ]
}
